/* css stylesheet */

header.jumbotron {
    background-color: #111111;
    color: #ffffff;
    margin-top: 50px;
}

footer .social a {
    padding: 0 0.6rem;
}

footer .social a:hover {
    color: silver;
    cursor:pointer;
}

.footer {
    background-color: #444;
    color: #ffffff;
    width: 100%;
    margin-top: 10%;
}

.footer a {
    color: silver;
}

.breadcrumb {
    background-color: #ffffff;
}

.row-content {
    min-height: 40vh;
}

/* .row-content > div:nth-child(2){
    margin-top: -35%;
} */

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

