/* css stylesheet */

header.jumbotron {
    background-color: #111111;
    color: #ffffff;
    margin-top: 50px;
}

footer .social a {
    padding: 0 0.6rem;
}

footer .social a:hover {
    color: silver;
    cursor:pointer;
}

.footer {
    background-color: #444;
    color: #ffffff;
}

.footer a {
    color: silver;
}

.breadcrumb {
    background-color: #ffffff;
}

.row-content {
    min-height: 100vh;
}